NUCLEUS_BASE_URL=https://studiolaser.nucleusapp.com.br
NUCLEUS_EMAIL=seu@email.com
NUCLEUS_PASSWORD=sua-senha
NUCLEUS_OPERADOR_ID=7012
NUCLEUS_OPERADOR=CTA GUILHERME
NUCLEUS_DATE_DE=01/06/2026
NUCLEUS_DATE_ATE=31/07/2026
NUCLEUS_CACHE_TTL=60
PORT=8765
